.logo_image {
  height: 70px;
  width: 50px;
}

.container-fluid {
  padding: 3% 15% 9%;
}


  .carousel-item {
    padding: 7% 15%;
  }

.image_main{
    position: relative;
    height: 40%;
    width: 100%;
    padding: 2%
}
.image_class{
  height: 600px;
  width: 100%}
